{% extends 'base.html' %}

{% block content %}

<div class="text-center">
    <div class="spinner-border" role="status" id="spinner"></div>
</div>


  
  <!-- Modal -->
  <div class="modal fade" id="previewPicModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Picture Preview</h1>
          <button id="closemodal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-center" id="modal-body">
         
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>



<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Picture</th>
        <th scope="col">Information</th>
      </tr>
    </thead>
    <tbody id="table-body-box">
      
    </tbody>
  </table>



{% endblock content %}


